<!DOCTYPE html>
<html>
    <head>
        <title>Plane Detection</title>
    </head>

    <body>
        <!-- needed to by the camera stream -->
        <video id="videoId" autoplay="true"></video>
        
        <!-- needed if you want to display the image when you take a photo -->
        <img alt="imgId" id="imgId">
    </body>

</html> 